---
layout: default
---

<article id="main">
  <header>
    <h2>{{ page.title }}</h2>
  </header>
  <section class="wrapper style5 work">
      {% if page.reel %}
        <div class="work__reel">
          <a class="popup-reel" href="{{ page.reel.url }}">
            <img src="{{ page.reel.thumbnail_image }}">
          </a>
        </div>
      {% endif %}

      {% if page.media %}
        <div class="work__grid">
          {% for media in page.media %}
            <div class="work__item">
              <a class="popup-{{ page.modal_type }}" href="{{ media.media }}">
                <img src="{{ media.thumbnail_image }}" />
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    <!-- <div class="inner">
      {{ content }}

      {% if page.reel %}
        <div class="row uniform 50%">
          <span class="image fit">
            <a class="popup-reel" href="{{ page.reel.url }}"><img src="{{ page.reel.thumbnail_image }}"></a>
          </span>
        </div>
      {% endif %}

      {% if page.media %}
        {% if page.has_masonry %}
          <div class="row uniform 50%">
            {% for media in page.media %}
              <div class="4u">
                <span class="image fit">
                  <a class="popup-{{ page.modal_type }}" href="{{ media.media_url }}"><img src="{{ media.thumbnail_image }}"></a>
                </span>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="row">
            <div class="masonry" data-columns>
              {% for media in page.media %}
                <div class="element">
                  <span class="image fit">
                    <a class="" href="{{ media.media_url }}"><img src="{{ media.thumbnail_image }}"></a>
                  </span>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div> -->
  </section>
</article>
